
.pullme {
  text-align: center; }

.signuphome {
  background-color: #2e3436;
  padding-top: 30px;
  padding-bottom: 50px; }

.landingPageCover {
  background-color: gainsboro;
  padding-top: 40px; 

}

.someFeatureOfMyGroup {
  text-align: center;
  padding-top: 20px; }

.someFeature {
  padding-top: 20px; }

.someFeature:hover {
  background-color: green;
  color: white; }

.groupBackground {
  padding-top: 30px;
  background-color: #c6c6c6; }

/***** Login page background *****/
.login_cover{
  
  background-color: gray;
}
.log_nav{
  margin-right: 0px;
}
.create_group_button {
  width: 18%;
    padding: 10px 20px 20px 20px;
    background: green;
    color: white; 
    margin-left: 30px;

}

.create_group_button:hover {
   text-decoration: none;
   color: white;
   background-color: #19c719;
}
.group_materials_button{

  padding-top: 40px;
 
}
.group_materials_button li{
 text-decoration: none;
}

.right_sidebar{
  padding-top: 20px;
}


/* groups*/

.g_buttions li>a{
  display: inline-block;;
  text-decoration: none;
}



.w3-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.w3-bar-block .w3-dropdown-hover,.w3-bar-block .w3-dropdown-click{width:100%}
.w3-bar-block .w3-dropdown-hover .w3-dropdown-content,.w3-bar-block .w3-dropdown-click .w3-dropdown-content{min-width:100%}
.w3-bar-block .w3-dropdown-hover .w3-button,.w3-bar-block .w3-dropdown-click .w3-button{width:100%;text-align:left;padding:8px 16px}
.w3-main,#main{transition:margin-left .4s}
.w3-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.w3-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.w3-bar{width:100%;overflow:hidden}.w3-center .w3-bar{display:inline-block;width:auto}
.w3-bar .w3-bar-item{padding:8px 16px;float:left;width:auto;border:none;outline:none;display:block}
.w3-bar .w3-dropdown-hover,.w3-bar .w3-dropdown-click{position:static;float:left}
.w3-bar .w3-button{white-space:normal}
.w3-bar-block .w3-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;outline:none;white-space:normal;float:none}
.w3-bar-block.w3-center .w3-bar-item{text-align:center}.w3-block{display:block;width:100%}
.w3-card,.w3-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.w3-card-4,.w3-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}