// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
.pullme{
  text-align: center;
}
.signuphome{

  background-color:#2e3436;
  padding-top: 30px;
  padding-bottom: 50px;

}
.landingPageCover{
  background-color: gainsboro;
  padding-top: 40px;
}

.someFeatureOfMyGroup{
  text-align: center;
  padding-top: 20px;
}
.someFeature{
  padding-top: 20px;
}
.someFeature:hover{
  background-color: green;
  color:white;
}